{% extends "default/front/layout.html.twig" %}

{% block body %}
    
	{% if musicgames|length > 0 %}
		
		<div class="col-lg-12">
			<h1>Games</h1>
			{% for game in musicgames %}
				<div class="col-11 mb-3">
					<div class="card mb-3" style="max-width: 540px;">
						<div class="row g-0">
							<div class="col-md-4">
								<img src="/images/{{ game.thumbnail }}" class="img-fluid rounded-start" alt="musicgame">
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">
										<a href="{{ path ('front_musicgame_game_tracks', { slug:game.slug }) }}">{{ game.name }}</a>
									</h5>
									<p class="card-text">{{ game.description }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="col-lg-12">
			<h1>Playlist</h1>
			{% for game in musicgames %}
				{% for playlist in game.playlists %}
					<div class="col-11 mb-3">
						<div class="card mb-3" style="max-width: 540px;">
							<div class="row g-0">
								{# <div class="col-md-4">
									<img src="/images/musicgame-default.png" class="img-fluid rounded-start" alt="musicgame">
								</div> #}
								<div class="col-md-8">
									<div class="card-body">
										<h5 class="card-title">
											<a href="{{ path ('front_musicgame_playlist_tracks', { slug:game.slug, playlistId:playlist.id }) }}">{{ playlist.title }}</a>
										</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endfor %}
		</div>
    {% else %}
    <div class="col-lg-12">
        <p>Aucun jeux ne sont encore programmés. Veuillez revenir dans un moment.</p>
    </div>
	{% endif %}
{% endblock %}
